/*Тизеры*/
	.tizer_block{
		text-align:center;
	}
	
/*	.rght-col .tizer_block{
		text-align:left;
	}
*/
	.tizer{
		display:inline-block;	
		text-align:left;
		margin-bottom:20px;			
	}
	
	.tizer.one, .tizer.two, .tizer.four, .tizer.five, .tizer.six{
		width:160px;
	}
	
/*	.rght-col .tizer.two{
		width:195px;
	}
	*/
	.tizer .logo_tizer{
		display:block;
		margin-bottom:5px;
		text-decoration:none;
		font-size:12px;
		font-weight:bold;
		color:#036;
		overflow:hidden;
		
	}	
	
	.tizer  .logo{
		display:block;
		float:left;
		margin-right:5px;
		margin-top:3px;
		background:url(../img/tizer/sprite.png)no-repeat;
	}
	
	.tizer.domadengi .logo{
		width:38px;
		height:48px;
	}
	
	.tizer.e-finance .logo{
		background-position:-38px 0;
		width:43px;
		height:50px;
	}
	
	.tizer.ezaem .logo{
		background-position:-82px 0;
		width:45px;
		height:37px;
	}
	
	.tizer.slovo .logo{
		background-position:-126px 0;
		width:33px;
		height:52px;
	}
	
	.tizer.bystrodengi .logo{
		background-position:-159px 0;
		width:38px;
		height:41px;
	}
	
	.tizer.citibank .logo{
		background-position:-197px 0;
		width:38px;
		height:28px;
	}
	
	.tizer.fingooroo .logo{
		background-position:-235px 0;
		width:47px;
		height:38px;
	}
	
	.tizer.sovcom .logo{
		background-position:-283px 0;
		width:40px;
		height:38px;
	}
	
	.tizer.tinkoff .logo{
		background-position:-250px -41px;
		width:48px;
		height:44px;
	}
	
	.tizer.mili .logo{
		background-position:0 -50px;
		width:32px;
		height:34px;		
	}
	
	.tizer.platiza .logo{
		background-position:-32px -50px;
		width:46px;
		height:25px;
		margin-top:1px;
	}
	
	.tizer.moneyman .logo{
		background-position:-82px -40px;
		width:46px;
		height:55px;
	}
	
	.tizer.renesans .logo{
		background-position:-126px -51px;
		width:34px;
		height:42px;
	}
	
	.tizer.rosenergobank .logo{
		background-position:-161px -40px;
		width:44px;
		height:52px;
		margin-right:2px
	}
	
	.tizer.zaim-bistro .logo{
		background-position:-205px -40px;
		width:46px;
		height:46px;	
	}
	
	.tizer.ecspert-bank .logo{
		background-position:-95px -95px;
		width:41px;
		height:41px;	
	}	
	
	.tizer.sberbank .logo{
		background-position:-50px -95px;
		width:45px;
		height:43px;	
	}
	
	.tizer.turbo-zaem .logo{
		background-position:0 -95px;
		width:43px;
		height:28px;	
	}
		
	.tizer.turbo-zaem .label, .tizer.bin-bank .label{
		height:auto;
		bottom:0;
		background-position:0 center;
	}
	
	.tizer.skb-bank .logo{
		background-position:-136px -95px;
		width:40px;
		height:40px;	
	}
	
	.tizer.lime .logo{
		background-position:-224px -95px;
		width:45px;
		height:45px;	
	}
	
	.tizer.zaimer .logo{
		background-position:-180px -95px;
		width:40px;
		height:40px;	
	}
	
	.tizer.vivus .logo{
		background-position:-277px -95px;
		width:45px;
		height:29px;	
	}
	
	.tizer.pay_ps .logo{
		background-position:0 -140px;
		width:43px;
		height:38px;	
	}
	
	.tizer.prosto_credit .logo{
		background-position:-43px -140px;
		width:40px;
		height:46px;	
	}
	
	.tizer.bin-bank .logo{
		background-position:-83px -140px;
		width:45px;
		height:33px;	
	}
	
	.tizer.zaimon .logo{
		background-position:-133px -140px;
		width:40px;
		height:40px;	
	}	
	
	.tizer.soveren .logo{
		background-position:-182px -140px;
		width:45px;
		height:34px;	
	}
	
	.tizer.sms-finance .logo{
		background-position:-4px -184px;
		width:111px;
		height:26px;
		float:none;
	}			
	
	
	.tizer.one .text, .tizer.five .text{
		display:block;
		float:left;
		width:107px;
		
	}
	
	.tizer.one .text span{
		 color: #369;
	}
	
	.tizer.sms-finance .text{
		width:100%;
		float:none;
	}
	
	.tizer.p, .tizer .zayavka{
		margin-left:15px;
	}
	.tizer .limit{
		font-size: 12px;
		font-weight: bold;
		color: #369;		
	}
		
	.tizer .srok{
		font-size: 11px;
		color: #000;		
	}
		
	.tizer.one .zayavka{
		display:inline-block;
		height:25px;
		background:url(../img/tizer/bg.png)no-repeat right 0;
		padding-right:31px;
		padding-top:2px;
		font-size:12px;
		font-weight:bold;
		color:#000;	
		margin-left:0;		
	}
	
	.tizer.two{
		background:url(../img/tizer/bg_two.png)no-repeat;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		padding:5px 15px 5px 41px;		
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		position:relative;
		line-height:10px;
		text-decoration:none;
	}
	
	.tizer.two .logo, .tizer.four  .logo{
		background:url(../img/tizer/sprite1.png)no-repeat;
		float:none;		
		display:block;
		margin:0 auto;
		
	}
	
	.tizer.two .logotip{
		width:36px;			
		position:absolute;
		left:6px;
		top:50%;
	}
	
	.tizer.two.domadengi .logo, .tizer.four.domadengi  .logo{
		width:22px;
		height:29px;
	}

	.tizer.two.domadengi .logo{
		margin-top:-15px;
	}
	
	.tizer.two.e-finance .logo, .tizer.four.e-finance  .logo{
		background-position:-23px 0;
		width:26px;
		height:31px;
	}

	.tizer.two.e-finance .logo{
		margin-top:-15px;
	}
	
	.tizer.two.ezaem .logo, .tizer.four.ezaem  .logo{
		background-position:-50px 0;
		width:26px;
		height:23px;		
	}
	
	.tizer.two.ezaem .logo{
		margin-top:-11px;
	}
	
	.tizer.two.slovo .logo, .tizer.four.slovo  .logo{
		background-position:-76px 0;
		width:21px;
		height:32px;
	}

	.tizer.two.slovo .logo{
		margin-top:-16px;
	}
	
	.tizer.two.bystrodengi .logo, .tizer.four.bystrodengi .logo{
		background-position:-97px 0;
		width:23px;
		height:25px;
	}

	.tizer.two.bystrodengi .logo{
		margin-top:-12px;
	}
	
	.tizer.two.citibank .logo, .tizer.four.citibank  .logo{
		background-position:-120px 0;
		width:24px;
		height:17px;
	}

	.tizer.two.citibank .logo{
		margin-top:-9px;
	}
	
	.tizer.two.fingooroo .logo, .tizer.four.fingooroo  .logo{
		background-position:-143px 0;
		width:29px;
		height:24px;
	}

	.tizer.two.fingooroo .logo{
		margin-top:-12px;
	}
	
	.tizer.two.sovcom{
		padding-left:35px;
	}
	
	.tizer.two.sovcom .logotip{
		width:30px;
	}
	
	.tizer.two.sovcom .text{
		font-size:14px;
	}
	
	.tizer.two.sovcom .logo, .tizer.four.sovcom .logo{
		background-position:-172px 0;
		width:23px;
		height:24px;
	}

	.tizer.two.sovcom .logo{
		margin-top:-12px;
	}
	
	.tizer.two.tinkoff .logo, .tizer.four.tinkoff  .logo{
		background-position:-152px -24px;
		width:29px;
		height:26px;
	}
	
	.tizer.two.tinkoff .logo{
		margin-top:-13px;
	}
	
	.tizer.two.mili .logo, .tizer.four.mili  .logo{
		background-position:0 -30px;
		width:19px;
		height:21px;
	}

	.tizer.two.mili .logo{
		margin-top:-10px;
	}
	
	.tizer.two.platiza .logo, .tizer.four.platiza  .logo{
		background-position:-20px -31px;
		width:29px;
		height:15px;
	}

	.tizer.two.platiza .logo{
		margin-top:-7px;
	}
	
	.tizer.two.moneyman .logo, .tizer.four.moneyman  .logo{
		background-position:-50px -25px;
		width:26px;
		height:32px;
	}

	.tizer.two.moneyman .logo{
		margin-top:-16px;
	}
	
	.tizer.two.renesans .logo, .tizer.four.renesans  .logo{
		background-position:-77px -32px;
		width:22px;
		height:24px;
	}

	.tizer.two.renesans .logo{
		margin-top:-12px;
	}
	
	.tizer.two.rosenergobank .logo, .tizer.four.rosenergobank  .logo{
		background-position:-98px -25px;
		width:27px;
		height:30px;	
	}
	
	.tizer.two.rosenergobank .logo{
		margin-top:-15px;
	}
	
	.tizer.two.zaim-bistro .logo, .tizer.four.zaim-bistro  .logo{
		background-position:-125px -23px;
		width:28px;
		height:29px;	
	}
	
	.tizer.two.zaim-bistro .logo{
		margin-top:-15px;
	}
	
	.tizer.two.zaimon .logo, .tizer.four.zaimon  .logo{
		background-position:-81px -85px;
		width:26px;
		height:22px;	
	}
	
	.tizer.two.zaimon .logo{
		margin-top:-15px;
	}
	
	.tizer.two.turbo-zaem .logo, .tizer.four.turbo-zaem  .logo{
		background-position:0 -57px;
		width:27px;
		height:19px;	
	}
	
	.tizer.two.turbo-zaem .logo{
		margin-top:-10px;
	}
	
	.tizer.two.zaimer .logo, .tizer.four.zaimer  .logo{
		background-position:-109px -57px;
		width:25px;
		height:26px;	
	}
	
	.tizer.two.zaimer .logo{
		margin-top:-13px;
	}
	
	.tizer.two.lime .logo, .tizer.four.lime  .logo{
		background-position:-135px -57px;
		width:28px;
		height:29px;	
	}
	
	.tizer.two.lime .logo{
		margin-top:-15px;
	}
	
	.tizer.two.vivus .logo, .tizer.four.vivus  .logo{
		background-position:-168px -57px;
		width:28px;
		height:19px;	
	}
	
	.tizer.two.vivus .logo{
		margin-top:-13px;
	}
	
	.tizer.two.skb-bank .logo, .tizer.four.skb-bank  .logo{
		background-position:-83px -57px;
		width:26px;
		height:26px;	
	}
	
	.tizer.two.skb-bank .logo{
		margin-top:-15px;
	}
	
	.tizer.two.ecspert-bank .logo, .tizer.four.ecspert-bank  .logo{
		background-position:-58px -57px;
		width:26px;
		height:26px;	
	}
	
	.tizer.two.ecspert-bank .logo{
		margin-top:-15px;
	}
	
	.tizer.two.sberbank .logo, .tizer.four.sberbank  .logo{
		background-position:-30px -57px;
		width:28px;
		height:28px;	
	}
	
	.tizer.two.sberbank .logo{
		margin-top:-15px;
	}
	
	.tizer.two.soveren .logo, .tizer.four.soveren  .logo{
		background-position:-110px -85px;
		width:28px;
		height:22px;	
	}
	
	.tizer.two.soveren .logo{
		margin-top:-13px;
	}
	
	.tizer.two.bin-bank .logo, .tizer.four.bin-bank  .logo{
		background-position:-50px -85px;
		width:28px;
		height:21px;	
	}
	
	.tizer.two.bin-bank .logo{
		margin-top:-13px;
	}
	
	
	.tizer.two.sms-finance .logotip{
		position:relative;
		margin-top:5px;
		left:0;
	}
	
	.tizer.two.sms-finance .logo, .tizer.four.sms-finance  .logo{
		background-position:-1px -114px;
		width:89px;
		height:20px;	
	}
	
	
	.tizer.two .text, .tizer.three .text, .tizer.four .text, .tizer.six .text{
		font-weight:bold;
		color:#036;
		text-transform:uppercase;
		font-size:15px;
		line-height:1;
		font-family:Arial,sans-serif;
	}
		
	
	.tizer.two .vid{
		font:13px/0.8 Arial,sans-serif;
		color:#9c3;
	}
	
	.tizer.two .limit, .tizer.three .limit, .tizer.six .limit{
		font:11px/1.2 Arial,sans-serif;
		color:#369;
	}
	
	.tizer.two  p{
		margin-bottom:4px;
	}
		
	.tizer.three, .tizer.six{
		background:url(../img/tizer/bg_three.png)no-repeat;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		/*padding:5px 15px 5px 41px;		*/
		padding:15px;
		padding-left:9px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		position:relative;
		line-height:10px;
		text-decoration:none;
	}	
	
	.tizer.six{
		padding-top:5px;
		padding-bottom:5px;
	}
	.tizer.three{	
		width:125px;		
	}
	
	.tizer.three .logo, .tizer.six .logo{
		float:none;
		margin:0 0 10px;
		
	}
	
	.tizer.three .text, .tizer.six .text{
		font-size:14px;
	}
	
	.tizer.three .vid, .tizer.six .vid{
		font:11px/1 Arial,sans-serif;
		color:#369;
		text-transform:uppercase;
		font-weight:bold;
	}
	
	.tizer.three .limit, .tizer.six .limit{
		font-size:12px;
		font-weight:bold;
		text-transform:uppercase;
		color:#9c3;
	}
	.tizer.three p, .tizer.six p{
		margin-bottom:10px;
	}
	
	.tizer.four{
		background:url(../img/tizer/bg_four.png)no-repeat;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		padding:5px 15px 15px 9px;		
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		position:relative;
		line-height:10px;
		text-decoration:none;		
	}
	
	.tizer.four .logo{
		float:left;
		margin-right:2px;
	}

	.tizer.four .logotip{
		overflow:hidden;		
		margin-bottom:15px;
		position:relative;
		padding-top:10px;
	}
	
	.tizer.four .text{
		display:inline-block;
		float:left;
		width:100px;		
	}
	
	.tizer.four .text{
		margin-top:5px;
	}
	
	.tizer.four.tinkoff .text, .tizer.four.sms-finance .text, .tizer.four.platiza .text, .tizer.four.renesans .text, .tizer.four.sberbank .text{
		margin-top:0;
	}	
	
	.tizer.four.moneyman .text, .tizer.four.e-finance .text{
		margin-top:10px;
	}
	
	.tizer.four.zaim-bistro .text, .tizer.four.slovo .text{
		margin-top:1px;
	}
	
	.tizer.four.domadengi .text{
		margin-top:-2px;
	}
	
	.tizer.four.bystrodengi .text{
		margin-top:-4px;
	}
	
	.tizer.four.ecspert-bank .text, .tizer.four.soveren .text{
		margin-top:-1px;
	}
	
	.tizer.four.ezaem .text, .tizer.four.citibank .text, .tizer.four.turbo-zaem .text, .tizer.four.vivus .text, .tizer.four.bin-bank .text{
		margin-top:3px;
	}
	
	.tizer.four.fingooroo .text, .tizer.four.sovcom .text{
		margin-top:6px;
	}
		
	.tizer.four.zaimer .text, .tizer.four.lime .text{
		margin-top:7px;
	}
	
	.tizer.four.skb-bank .text{
		margin-top:9px;
	}
	
	
		
	.tizer.four.tinkoff .logo{		
		margin-top:7px;		
	}
	
	.tizer.four.sms-finance .text{
		width:100%;
		margin-top:5px;
	}
	
	.tizer.four .vid{
		color:#369;
		font-weight:bold;
		text-transform:uppercase;
		line-height:1.1;
		font-size:12px;
		margin-bottom:10px;
	}
		
	.tizer.four .limit{
		color:#000;
		font-weight:normal;
		line-height:1.1;
	}
	
	/*.tizer.five.tinkoff .logo {
		margin-top:18px;
	}
	
	.tizer.five.mili .logo {
		margin-top:13px;
	}
	
	.tizer.five.platiza .logo {
		margin-top:10px;
	}
	
	.tizer.five.moneyman .logo_tizer{
		padding-top:5px;
	}
	
	.tizer.five.moneyman .logo {
		margin-top:-5px;
	}
	
	.tizer.five.renesans .logo, .tizer.five.domadengi .logo, .tizer.five.turbo-zaem .logo{
		margin-top:8px;
	}
	
	.tizer.five.citibank .logo{
		margin-top:6px;
	}
	
	.tizer.five.fingooroo .logo{
		margin-top:1px;
	}
	
	.tizer.five.zaimer .logo, .tizer.five.lime .logo{
		margin-top:0;
	}
	
	.tizer.five.vivus .logo{
		margin-top:17px;
	}
	
	.tizer.five.sberbank .logo{
		margin-top:15px;
	}*/
	/*
	.tizer.five.ecspert-bank .logo{
		margin-top:10px;
	}*/
	
	.tizer.five .logo_tizer{
		position:relative;
	}
	
	.tizer.five .logo{
		position:absolute;
		top:50%;		
	}
	
	.tizer.five.tinkoff .logo{
		margin-top:-22px;
	}
	
	.tizer.five.tinkoff .text{
		margin-left:53px;
	}
	
	.tizer.five.mili .logo{
		margin-top:-17px;
	}
	
	.tizer.five.mili .text{
		margin-left:39px;
	}
	
	.tizer.five.platiza .logo{
		margin-top:-12px;
	}
	
	.tizer.five.platiza .text{
		margin-left:51px;
	}
	
	.tizer.five.moneyman .logo_tizer{
		padding-top:5px;
		padding-bottom:5px;
	}
	
	.tizer.five.moneyman .logo{
		margin-top:-27px;
	}
	
	.tizer.five.moneyman .text{
		margin-left:51px;
	}
	
	.tizer.five.renesans .logo{
		margin-top:-21px;
	}
	
	.tizer.five.renesans .text{
		margin-left:39px;
	}
	
	.tizer.five.zaim-bistro .logo_tizer{
		padding-top:8px;
		padding-bottom:8px;
	}
	
	.tizer.five.zaim-bistro .logo{
		margin-top:-23px;
	}
	
	.tizer.five.zaim-bistro .text{
		margin-left:51px;
	}
	
	.tizer.five.domadengi .logo{
		margin-top:-20px;
	}
	
	.tizer.five.domadengi .text{
		margin-left:43px;
	}
	
	.tizer.five.e-finance .logo_tizer{
		padding-top:3px;
		padding-bottom:3px;
	}
	
	.tizer.five.e-finance .logo{
		margin-top:-25px;
	}
	
	.tizer.five.e-finance .text{
		margin-left:48px;
	}
	
	.tizer.five.ezaem .logo_tizer{
		padding-top:3px;
		padding-bottom:3px;
	}
	
	.tizer.five.ezaem .logo{
		margin-top:-16px;
	}
	
	.tizer.five.ezaem .text{
		margin-left:50px;
	}
	
	.tizer.five.slovo .logo_tizer{
		padding-top:10px;
		padding-bottom:10px;
	}
	
	.tizer.five.slovo .logo{
		margin-top:-26px;
	}
	
	.tizer.five.slovo .text{
		margin-left:38px;
	}
	
	.tizer.five.bystrodengi .logo{
		margin-top:-20px;
	}
	
	.tizer.five.bystrodengi .text{
		margin-left:43px;
	}
	
	.tizer.five.citibank .logo{
		margin-top:-14px;
	}
	
	.tizer.five.citibank .text{
		margin-left:43px;
	}
	
	.tizer.five.fingooroo .logo{
		margin-top:-19px;
	}
	
	.tizer.five.fingooroo .text{
		margin-left:52px;
	}
	
	.tizer.five.sovcom .logo{
		margin-top:-19px;
	}
	
	.tizer.five.sovcom .text{
		margin-left:45px;
	}
	
	.tizer.five.zaimon .logo{
		margin-top:-20px;
	}
	
	.tizer.five.zaimon .text{
		margin-left:45px;
	}
	
	.tizer.five.turbo-zaem .logo{
		margin-top:-16px;
	}
	
	.tizer.five.turbo-zaem .text{
		margin-left:48px;
	}
	
	.tizer.five.zaimer .logo{
		margin-top:-20px;
	}
	
	.tizer.five.zaimer .text{
		margin-left:45px;
	}
	
	.tizer.five.lime .logo{
		margin-top:-23px;
	}
	
	.tizer.five.lime .text{
		margin-left:50px;
	}
	
	.tizer.five.vivus .logo{
		margin-top:-15px;
	}
	
	.tizer.five.vivus .text{
		margin-left:50px;
	}
	
	.tizer.five.skb-bank .logo{
		margin-top:-20px;
	}
	
	.tizer.five.skb-bank .text{
		margin-left:45px;
	}	
	
	.tizer.five.ecspert-bank .logo{
		margin-top:-20px;
	}
	
	.tizer.five.ecspert-bank .text{
		margin-left:45px;
	}
	
	.tizer.five.sberbank .logo{
		margin-top:-21px;
	}
	
	.tizer.five.sberbank .text{
		margin-left:50px;
	}
	
	.tizer.five.soveren .logo{
		margin-top:-17px;
	}
	
	.tizer.five.soveren .text{
		margin-left:50px;
	}
	
	.tizer.five.bin-bank .logo{
		margin-top:-16px;
	}
	
	.tizer.five.bin-bank .text{
		margin-left:50px;
	}
	
	.tizer.five.sms-finance .logo{
		position:relative;
	}
	
	
	/*.tizer.five.zaim-bistro .text{
		margin-top:13px;
	}
	
	.tizer.five.e-finance .text{
		margin-top:8px;
	}
	
	.tizer.five.ezaem .text{
		margin-top:4px;
	}
	
	.tizer.five.slovo .text{
		margin-top:14px;
	}
	
	.tizer.five.zaimon .text{
		margin-top:7px;
	}
	
*/
	
	
	.tizer.five .text/*, .tizer.five .zayavka, .tizer.five p*/ {
		line-height:1.2;
		color:#036;
		font-weight:bold;
	}
	
	.tizer.five .text span{
		color:#639f0a;
	}
	
	.tizer.five .zayavka{
		margin-left: 0;
		color:#639f0a;
		font-size:12px;
		line-height:1;
	}
	
	.tizer.five  .limit{
		margin-bottom:3px;
		
	}
	
	.tizer.five p{
		font-weight:normal;
		color:#333;
		font-size:12px;
		margin-bottom:0;
		line-height:1;
	}
	
.tizer.bb-each-bank{
	width:110px;
	height:215px;
	margin-left:20px;
	vertical-align:top;
}

.tizer.bb-each-bank .logo{
	margin:0 auto 5px;
	float:none;
}

.tizer.bb-each-bank .cont {	
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	height:100%;
}

/*конец тизеры*/